[[language]]
name = "nix"

[language-server.nixd]
command = "nixd"

[language-server.nixd.config]
nixpkgs = { expr = "import <nixpkgs> { }" }
formatting = { command = [ "treefmt", "--stdin", "{}" ] }

[language-server.nixd.config.options]
nixos = { expr = "(builtins.getFlake (builtins.toString ./.)).nixosConfigurations.nixos.options" }
home-manager = { expr = "(builtins.getFlake (builtins.toString ./.)).nixosConfigurations.nixos.options.home-manager.users.type.getSubOptions []" }

[language-server.nixd.config.diagnostic]
suppress = [ "sema-extra-with" ]
